* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section {
    display: flex;
    height: 100vh;
}

.gallery-highlight {
    width: 80%;
    height: 50%;
}


.room-gallery {
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.room-description {
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(45deg, #EECFBA, #C5DDE8);padding: 50px;
font-size: 23px;
}

.room-description h1 {
    font-size: 32px;
    margin-bottom:2em;
    }

.room-preview {
display: flex;
width: 80%;


} 

.room-preview img {
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

img.room-active {
    opacity: 1;
}